---
layout: default
---
{% for gallery in site.data.galleries reversed %}
<div class="page-header">
  <h2 id="{{ gallery.name | slugify }}" class="lead capslock">{{ gallery.name }}</h2>
  <div class="row">
    {% for image in gallery.images %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
	<a href="/images/{{ image }}">
	  <img src="/images/thumb-{{ image }}">
	</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
