<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Astuary Art</title>
    <link href="{% link css/bootstrap.min.css %}" rel="stylesheet"/>
    <link href="{% link css/yeti.min.css %}" rel="stylesheet"/>
    <link href="{% link css/abigimage.jquery.min.css %}" rel="stylesheet"/>
    <link href="{% link css/site.css %}" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid main">
      <div class="page-header text-center">
	<a href="{% link index.html %}">
	  <img alt="logo" src="{% link images/logo.png %}" class="logo-image"/>
	</a>
      </div>
      <ul class="nav nav-pills nav-justified capslock">
	<li role="presentation"><a href="{% link index.html %}">Home</a></li>
	<li role="presentation"><a href="{% link art.html %}">Art</a></li>
	<li role="presentation"><a href="{% link about.html %}">About</a></li>
	<li role="presentation"><a href="{% link contact.html %}">Contact</a></li>
      </ul>
      <hr/>
      {{ content }}
    </div>
    <script type="text/javascript" src="{% link js/jquery.min.js %}"></script>
    <script type="text/javascript" src="{% link js/bootstrap.min.js %}"></script>
    <script type="text/javascript" src="{% link js/abigimage.jquery.min.js %}"></script>
    <script type="text/javascript" src="{% link js/site.js %}"></script>
  </body>
</html>
