<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Astuary Art</title>
    <link href="https://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet"/>
    <style>
     .main {
	 margin-bottom: 4em;
	 max-width: 900px;
     }

     .capslock {
	 text-transform: uppercase;
     }

     .main .nav li a, .btn, .lead {
	 /*	 color: grey; */
	 color: black;
     }

     .friends {
	 margin-top: 2em;
     }

     .banner-image, .logo-image {
	 margin: 0 auto;
     }
    </style>
  </head>
  <body>
    <div class="container-fluid main">
      <div class="page-header text-center">
	<a href="{% link index.html %}">
	  <img alt="logo" src="{% link images/logo.png %}" class="logo-image"/>
	</a>
      </div>
      <ul class="nav nav-pills nav-justified capslock">
	<li role="presentation"><a href="{% link index.html %}">Home</a></li>
	<li role="presentation"><a href="{% link art.html %}">Art</a></li>
	<li role="presentation"><a href="{% link about.html %}">About</a></li>
	<li role="presentation"><a href="{% link contact.html %}">Contact</a></li>
      </ul>
      <hr/>
      {{ content }}
    </div>
  </body>
</html>
